<h3>Bienvenidos a Facturas Online</h3>
<p>Revise todas las facturas subidas por su cliente o por usted desde nuestra app:</p>

<p>Para ayudarte a empezar:</p>
<ul>
    <li><strong>Descar nuestra app desde: </strong> <a href="http://www.google.com"> Aqui! </a> </li>
    <li><strong>Registrese.</strong></li>
    <li><strong>Agregue su contable si ya esta registrado, introduciendo su email.</strong></li>
    <li><strong>Tire la foto a la/las facturas desde la app</strong></li>
    <li><strong>Ya su contable o usted pueden ver las facturas desde el portal web</strong></li>
    <li><strong>Su contable o usted pueden ver todas las facturas subidas por sus clientes. Pueden buscar por distintos rangos de fechas.</strong></li>
</ul>
